*{
    margin: 0;padding: 0;
  
}

body {

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(247, 207, 174);
}
div{
    width: 500px;
    height: 500px;
    margin: 50px;
    border-radius: 50px;
    outline: solid 1px rgb(255, 255, 255);
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
}
form{
    width: 200px;
    
    background-color: aliceblue; display: flex;
    flex-direction: column;
   
    /* justify-content: center; */
    
}
h1{
    margin-right: 25px;
}
input{
    margin-bottom: 15px;
    border-radius: 10px;
    height: 20px;
 
    padding-left: 15px;
    
}
label{margin-bottom: 20px;font-weight: bolder;}
button{
   margin-bottom: 30px;
    width: 80px;
    height: 40px;
}
